/* Created by Giacomo Giudice */

html, body {
	height:100%;
}

body {
	background-color: #34495e;
	font-family: 'Open Sans', sans-serif;
  	font-weight: 300;
}

a {
	color: inherit;
	text-decoration: underline;
}

h1 {
	font-size: 2.5em;
	font-weight: 300;
	color: white;
	text-align: center;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 1000px;
}

.swatch {
	float: left;
	padding: 1px 5px;
	font-size: 0.9em;
	background-color: white;
	overflow: hidden;
}

.arrow {
	padding:0;
	height: 1.4em;
	vertical-align: middle;
}

.bar { 
	display: inline-block;
}

.hoverlabel {
	padding: 4px;
	border-radius: 4px;
	background-color: #000000;
	opacity: 0.75;
	font-size: 0.75em;
	color: #ffffff;
}

.floater {
	position: absolute;
	z-index: 10;
}

.ghost {
	opacity: 0;
}

.pointer {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 17px solid white;
}

.footer {
	font-size: 0.9em;
	color: white;
	vertical-align: middle;
	
}

.footer img {
	vertical-align: middle;
  	margin: 0 0 4px 5px;
  	width: 25px;
  	height: 25px;
}

#controller {
	height: 100%;
	width: 100%;
	display: block;
	background-color: white;
	
}

#mainvis {
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	background-color: white;
	
}

#mapcontainer {
	float: left;
	height: 600px;
	width: 80%;
	margin: 0 auto;
}


#bubblecontainer {
	float: left;
}


#bubblecontainer {
	float: left;
	height: 100%;
	width:20%;
}

#infobox {
	text-align: center;
	padding: 20px 10px;
	font-weight: bold;
}

#legend {
	display: block;
	width: 100%;
	position: relative;
	overflow: hidden;
}
